<mat-card>
  <mat-card-header>
    <mat-card-subtitle> Profile </mat-card-subtitle>
    <mat-card-title> Hi, {{ user.Username }} ! </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>Email: {{ user.Email }}</p>
    <p>Username: {{ user.Username }}</p>
    <button
      class="edit-button"
      mat-raised-button
      color="basic"
      (click)="openUserUpdateDialog()"
    >
      Edit
    </button>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
