// #557571
// #D49A89
// #F7D1BA
// #F4F4F4

.movie-card-container {
  text-align: center;
  margin: 25px 0;
  color: black;
}

.movies-container {
  display: flex;
  flex-direction: row;
}

.mat-card {
  min-width: 260px;
  max-width: 275px;
  margin: 10px;
  background-color: #f4f4f4;
}

.favorite-button-active {
  float: right;
  color: #d49a89;
  cursor: pointer;
}

.favorite-button {
  float: right;
  cursor: pointer;
}

.button-link {
  margin: 10px;
  background-color: #557571;
  color: white;
}
